# Write a SPARQL query to receive all Athenian writers of fifth-century BCE

In [14]:
from SPARQLWrapper import SPARQLWrapper, JSON
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.precision', 3)

In [15]:
sparql = SPARQLWrapper("https://query.wikidata.org/sparql")

In [17]:
sparql.setQuery("""
SELECT ?writer ?writerLabel

WHERE {
        ?writer wdt:P31 wd:Q5 .   # human
        ?writer wdt:P27 wd:Q844930 .  # citizenship: ancient Athenian
        ?writer wdt:P106 wd:Q36180 . # occupation: writer 
        ?writer wdt:P569 ?dtb .
        FILTER ((YEAR(?dtb)>=-499) && (YEAR(?dtb)<-400))
        
        SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }  

}
LIMIT 10
""")

sparql.setReturnFormat(JSON)
results = sparql.query().convert()
results_df = pd.json_normalize(results["results"]["bindings"])
results_df = results_df[["writer.value", "writerLabel.value"]]
results_df.style.format()