# create an ordered list with the city of each province with the most monuments, along with the counts of the monuments

In [1]:
import pandas as pd
import sqlite3

In [5]:
connection = sqlite3.connect(":memory:")

In [6]:
cities_df = pd.read_excel("OxREP+data.xlsx", sheet_name = "Cities")
cities_df.to_sql("Cities", con = connection, index = False)
monuments_df = pd.read_excel("OxREP+data.xlsx", sheet_name = "Monuments")
monuments_df.to_sql("Monuments", con = connection, index = False)

9472

In [13]:
pd.read_sql("""
SELECT "Modern Toponym", COUNT(*) as "Counts of Monument"
FROM Monuments M, Cities C
WHERE M."Primary Key" = C."Primary Key"
GROUP BY M."Primary Key"
ORDER BY "Counts of Monument" DESC;
""", connection)

         Modern Toponym  Counts of Monument
0                  Rome                 236
1                Athens                 107
2               Corinth                  56
3               Bergama                  50
4                 Lebda                  46
...                 ...                 ...
1202             Tavira                   1
1203            Lomello                   1
1204            Mantova                   1
1205              Labin                   1
1206  Città di Castello                   1

[1207 rows x 2 columns]